In [2]:
import pandas as pd
people={
        "first_name":["corey","jane","john"],
        "last_name":["schafer","Doe", "Doe"],
        "email":["CoreyMSchafer@gmail.com","JaneDoe@email.com",
                 "JohnDoe@email.com"]}
df=pd.DataFrame(people)
df

  first_name last_name                    email
0      corey   schafer  CoreyMSchafer@gmail.com
1       jane       Doe        JaneDoe@email.com
2       john       Doe        JohnDoe@email.com

In [3]:
df.columns=[x.upper() for x in df.columns]

In [4]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0      corey   schafer  CoreyMSchafer@gmail.com
1       jane       Doe        JaneDoe@email.com
2       john       Doe        JohnDoe@email.com

In [5]:
df.columns=df.columns.str.replace("_"," ")

In [6]:
df

  FIRST NAME LAST NAME                    EMAIL
0      corey   schafer  CoreyMSchafer@gmail.com
1       jane       Doe        JaneDoe@email.com
2       john       Doe        JohnDoe@email.com

In [7]:
df.columns=[x.lower() for x in df.columns]

In [8]:
df

  first name last name                    email
0      corey   schafer  CoreyMSchafer@gmail.com
1       jane       Doe        JaneDoe@email.com
2       john       Doe        JohnDoe@email.com

In [9]:
df.rename(columns={"first_name":"first","last_name":"last"})

  first name last name                    email
0      corey   schafer  CoreyMSchafer@gmail.com
1       jane       Doe        JaneDoe@email.com
2       john       Doe        JohnDoe@email.com

In [10]:
#modify the dataframe inplace
df.rename(columns={"first name":"first","last name":"last"},inplace=True)
df

   first     last                    email
0  corey  schafer  CoreyMSchafer@gmail.com
1   jane      Doe        JaneDoe@email.com
2   john      Doe        JohnDoe@email.com

In [11]:
#grab row 2
df.loc[2]

first                 john
last                   Doe
email    JohnDoe@email.com
Name: 2, dtype: object

In [12]:
#set new values for row 2
df.loc[2,["last","email"]]=["Smith","JohnSmith@email.com"]

In [13]:
df

   first     last                    email
0  corey  schafer  CoreyMSchafer@gmail.com
1   jane      Doe        JaneDoe@email.com
2   john    Smith      JohnSmith@email.com

In [14]:
#using df.at
df.at[2,"last"]="Doe"
df

   first     last                    email
0  corey  schafer  CoreyMSchafer@gmail.com
1   jane      Doe        JaneDoe@email.com
2   john      Doe      JohnSmith@email.com

In [15]:
filt=(df["email"]=="JohnSmith@email.com")
df[filt]

  first last                email
2  john  Doe  JohnSmith@email.com

In [16]:
df[filt]["last"]="Smith"

C:\Users\adelc\AppData\Local\Temp/ipykernel_14752/2661338986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]["last"]="Smith"

In [17]:
df.loc[filt,"last"]="Smith"
df

   first     last                    email
0  corey  schafer  CoreyMSchafer@gmail.com
1   jane      Doe        JaneDoe@email.com
2   john    Smith      JohnSmith@email.com

In [18]:
###lower case all the email
df["email"].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2        johnsmith@email.com
Name: email, dtype: object

In [19]:
df["email"]=df["email"].str.lower()

In [20]:
df

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      Doe        janedoe@email.com
2   john    Smith      johnsmith@email.com

In [21]:
df["email"].apply(len)

0    23
1    17
2    19
Name: email, dtype: int64

In [22]:
def update_email(email_vec):
    return email_vec.upper()

In [23]:
df["email"].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2        JOHNSMITH@EMAIL.COM
Name: email, dtype: object

In [24]:
df["email"].apply(lambda x: x.lower())

0    coreymschafer@gmail.com
1          janedoe@email.com
2        johnsmith@email.com
Name: email, dtype: object

In [25]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [26]:
df.apply(len,axis=1)

0    3
1    3
2    3
dtype: int64

In [27]:
df.apply(min)

first                      corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [28]:
df.apply(lambda x: pd.Series([min(x),max(x)]))

   first     last                    email
0  corey      Doe  coreymschafer@gmail.com
1   john  schafer      johnsmith@email.com

In [29]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     19

In [30]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith      johnsmith@email.com

In [31]:
df["first"].map({"corey":"Chris","jane":"Mary"})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [32]:
df["first"].replace({"corey":"Chris","jane":"Mary"})

0    Chris
1     Mary
2     john
Name: first, dtype: object

In [42]:
#get back to the real dataset
df=pd.read_csv("Data\survey_results_public.csv",index_col="Respondent")
schema_df=pd.read_csv("Data\survey_results_schema.csv",index_col="Column")

In [43]:
df

                                                   MainBranch  ...                  SurveyEase
Respondent                                                     ...
1                      I am a student who is learning to code  ...  Neither easy nor difficult
2                      I am a student who is learning to code  ...  Neither easy nor difficult
3           I am not primarily a developer, but I write co...  ...  Neither easy nor difficult
4                              I am a developer by profession  ...                        Easy
5                              I am a developer by profession  ...                        Easy
...                                                       ...  ...                         ...
88377                                                     NaN  ...                        Easy
88601                                                     NaN  ...                         NaN
88802                                                     NaN  ...                         NaN
88816                                                     NaN  ...                         NaN
88863                                                     NaN  ...                        Easy

[88883 rows x 84 columns]

In [44]:
schema_df

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [45]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [46]:
df.rename(columns={"ConvertedComp":"SalaryUSD"},inplace=True)
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq', 'SalaryUSD',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc',
       'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests', 'PurchaseHow',
       'PurchaseWhat', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [48]:
df_sample=df.head()
df_sample

                                                   MainBranch  ...                  SurveyEase
Respondent                                                     ...
1                      I am a student who is learning to code  ...  Neither easy nor difficult
2                      I am a student who is learning to code  ...  Neither easy nor difficult
3           I am not primarily a developer, but I write co...  ...  Neither easy nor difficult
4                              I am a developer by profession  ...                        Easy
5                              I am a developer by profession  ...                        Easy

[5 rows x 84 columns]

In [49]:
df["Hobbyist"].map({"Yes":True,"No":False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool